@tailwind base;
@tailwind components;
@tailwind utilities;
@import './_sass/colors';

body {
    background-color: $black;
    color: $white;
}

section {
    padding: 10rem 1rem;
    min-height: 100vh;
}

h1 {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
}
h4 {
    color: $primary;
    font-family: 'PT Sans Caption', sans-serif;
}

label {
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 1.65em;
}

form {
    border: 0.25rem solid $primary;
    border-top: none;
    border-radius: 0.35rem;
    padding: 2rem;
}
